<h2>Users:</h2>

<form [formGroup]="newUserForm" action="">
  <input type="text" formControlName="name" />
  <button [disabled]="newUserForm.invalid" (click)="addUser()">Add User</button>
</form>

@if (loadingUsers() && users().length === 0) {
  loading users...
} @else {
  <div class="form-container">
    <form class="users-form" [formGroup]="userListForm">
      <div class="users-form-list" formArrayName="users">
        @if (loadingUsers()) {
          <div class="overlay loader">loading... <span class="spinner"></span></div>
        }
        @for (ctrl of usersFormArray(); let i = $index; track ctrl.get('id')?.value) {
          @let userObj =
            {
              id: ctrl.get('id')?.value,
              name: ctrl.get('name')?.value,
            };
          <div class="users-form-list-item" [formGroupName]="i">
            <input formControlName="name" />
            @let controlName = ctrl.get('name');

            <button type="button" (click)="deleteUserById(userObj.id)">Delete</button>
            @if (controlName?.disabled) {
              <button type="button" (click)="editUser(userObj.id)">Edit</button>
            } @else {
              <button [disabled]="controlName?.invalid" type="button" (click)="updateUser(userObj)">
                Update
              </button>
            }
            <button
              class="btn"
              [class.selected]="selectedUser()?.id === userObj.id"
              type="button"
              (click)="selectUser(userObj)"
            >
              {{ selectedUser()?.id === userObj.id ? 'Selected' : 'Select' }}
            </button>
            @if (controlName?.invalid && controlName?.touched) {
              <span style="color: red"> Name is required </span>
            }
          </div>
        }
      </div>
    </form>
  </div>
}

<h2>Orders:</h2>
@if (loadingOrders()) {
  loading orders...
} @else {
  <ul style="padding-inline-start: 10px">
    @for (order of orders(); track order) {
      <li class="order-item">
        <span>Order id: {{ order.id }} / </span>
        <span>User id: {{ order.userId }} / </span>
        <span>Amount: {{ order.total }}</span>
      </li>
    }
  </ul>
}

<h2>Selected user:</h2>

@if (selectedUser() === null) {
  User not selected...
} @else {
  <app-user-orders-component></app-user-orders-component>
}
